/*RESET / STYLE GERAL*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;

}

:root {
    --white-theme: #ffff;
    --dark-theme: #121111;
    --white:#fff;
    --black:#000;
    --blue1: #afd5db;
    --blue2: #9cdbeb;
    --scroll-bar: #03a9ea;
    --backgroud-scroll: #87CEEB;
    --back-ground-header:#e1ecf0;
    --color-link-header:#6e6e6e;
    --color-btn-header:#bdbdbd;
    --color-link-hover: #21282b;
    --color-portifolio:#9ae0eda2;
}

/*BODY STYLE*/

body {
    scroll-behavior: smooth;
}

.background {
    background-image: url(../assets/gif-background.webp);
    opacity: 0.98;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* --------------------------------------------------------------- */

/*INTERFACE*/
.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h3.title {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: var(--scroll-bar);
    background-color: #6e6e6e;
}

::-moz-selection {
    color: var(--scroll-bar);
    background-color: #6e6e6e;
}


/* --------------------------------------------------------------- */

/* SCROLL-BAR */

::-webkit-scrollbar-thumb {
    background-color: var(--backgroud-scroll);
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* --------------------------------------------------------------- */

/*RESET LOGO*/
.logo {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: .2s;

}

.logo:hover {
    transform: scale(1.1);

}


.checkbox {
    opacity: 0;
    position: absolute;
}


/* --------------------------------------------------------------- */


/*HEADER STYLE*/
header {
    padding: 10px 4%;
    background-color: var(--back-ground-header);
    border-bottom: 1px solid#ddd;
    height: 4.5rem;
}


header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: var(--color-link-header);
    display: inline-block;

}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700px;
    background-color: var(--black);
    border: 0;
    border-radius: 30px;
    color: var(--color-btn-header);
    cursor: pointer;
}

header nav.menu-desktop a:hover {
    color: var(--color-link-hover);
    transform: scale(1.2);
    transition: .3s;
}


header .btn-contato button:hover {
    box-shadow: 0px 0px 8px #00000082;
    color: var(--white);
    transform: scale(1.02);
    transition: .2s;
}

/* --------------------------------------------------------------- */

/* MENU MOBILE */
.btn-abrir-menu i {
    color: var(--white-theme);
    font-size: 40px;
}

.overlay-menu {
    background-color: #00000072;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;

}

.menu-mobile {
    background-color: var(--blue2);
    height: 100%;
    width: 0%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    transition: .2s;

}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile nav ul {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.menu-mobile nav ul a {
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul a:hover {
    background-color: var(--backgroud-scroll);
    color: var(--white);
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: var(--black);
    font-size: 30px;
}

/* --------------------------------------------------------------- */


/* TOP SITE STYLE */


section.top-site {
    padding: 180px 4%;

}

section.top-site .flex {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 90px;
}

.top-site h1 {
    font-size: 40px;
    line-height: 38px;
    color: var(--white-theme);
}


.top-site .txt-top-site h1 span.dot {
    color: var(--backgroud-scroll);
    font-weight: bolder;
}

.top-site .txt-top-site p {
    font-size: 18px;
    margin: 25px 0;
    font-style: italic;
    color: var(--white-theme);
}

.top-site .txt-top-site h1 span.dot {
    color: var(--backgroud-scroll);
    font-weight: bolder;
}

/* SELFIE STYLE */
.selfie {
    border: 2px solid #2c2c2c;
    border-radius: 100px;
    background-color: #000000da;
    width: 275px;
    height: 300px;
    padding-top: -100px;
}

.top-site .img-top-site img {
    position: relative;
    animation: flutuante 2s ease-in-out infinite alternate;

}

@keyframes flutuante {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* --------------------------------------------------------------- */

/* PORTIFÓLIO */

section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px var(--color-portifolio);
    color: var(--white-theme);
}

section.portifolio h3 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 50px;
}

section.portifolio h3 span {
    color: #87CEEB;

}


.img-port {
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 50px;
    position: relative;
    border: 1px solid #DDDD;
}

.img-port:hover {
    background-position: 100% 100%;

}



.none-list {
    text-decoration: none;
    color: var(--black);
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
}


.overlay a {
    color: var(--scroll-bar);
    margin: 8px;
    background-color: var(--white-theme);
    border-radius: 5px ;
    opacity: 0.8;
}


.overlay:hover {
    opacity: 1;
}

section.portifolio .flex {
    gap: 90px 4%;
    
}


/* --------------------------------------------------------------- */


/* SKILLS STYLES */

section.skills {
    padding: 40px 4%;
    color: var(--white-theme);

}

section.skills .flex {
    gap: 60px;

}

.skills h2.title {
    font-size: 38px;
    text-align: center;
}

.txt-skils p {
    text-align: center;
    color: var(--scroll-bar);
    font-weight: bold;
    line-height: 3px;
    opacity: 0.6;
    padding-bottom: 20px;
}

section.skills .skills-box {
    padding: 20px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

section.skills .skills-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--backgroud-scroll);
}


section.skills img {
    width: 100px;
    height: 100px;
}

.svg-html:hover,
.svg-css:hover,
.svg-github:hover,
.svg-js:hover,
.svg-bootstrap:hover {
    transform: scale(1.1);
    transition: .2s;
}

.skills,
.txt-html,
.txt-css,
.txt-github,
.txt-js,
.txt-bootstrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 4%;

}

.skills,
.txt-html p,
.txt-css p,
.txt-github p,
.txt-js p,
.txt-bootstrap p {
    text-align: center;
    font-style: italic;
}


/* --------------------------------------------------------------- */


/*BTNS*/


.float-btn-whats {
    position: fixed;
    bottom: 140px;
    left: 30px;
    font-size: 30px;
    background-color: #01e675;
    border-radius: 50px;
    padding: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;

}

.float-btn-whats .fab {
    padding-top: 9px;

}

.float-btn-whats:hover {
    background-color: var(--white);
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 2px #5fe69058;
}

/* BTN INICIO */
.btn-inicio {
    position: fixed;
    bottom: 140px;
    right: 30px;
    font-size: 30px;
    background-color: var(--backgroud-scroll);
    border-radius: 50px;
    padding: 2px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-inicio:hover {
    background-color: #9ad3ea91;
    font-weight: 900;
    box-shadow: 2px 2px 2px #4fb6cb84;
}

/* BTN DARK */



/* --------------------------------------------------------------- */

/* ESTILO SOBRE */

section.sobre {
    padding: 40px 4%;
}

.img-sobre .selfie-sobre {
    border-radius: 60px;
    padding: 10px;
    width: 350px;
    height: 400px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: var(--white-theme);
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: var(--backgroud-scroll);
    display: block;
}

.sobre .txt-sobre p {
    margin: 8px 0;
    line-height: 25px;
    text-align: justify;
    line-height: 20px;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--backgroud-scroll);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;

}

.sobre .txt-sobre .btn-social button:hover {
    box-shadow: 0 0 8px #87cfeb8f;
    transform: scale(1.1);
    transition: .2s;
}

/* --------------------------------------------------------------- */




/* SECTION FALE COMIGO */
section.contato-section {
    padding: 80px 4%;
    color: var(--white-theme);
    margin-top: 6rem;
}

.header-footer h2,
.txt-header {
    text-align: center;
}

.header-footer p {
    color: var(--backgroud-scroll);
    font-weight: 600;
}

.contatos-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 4em;

}

.email,
.cel-footer {
    background-color: var(--backgroud-scroll);
    border-radius: 10px;
    padding: 20px;
    width: 30em;
}

.img-email,
.img-cel-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.email:hover,
.cel-footer:hover {
    transition: .3s;
    background-color: #ea0303;
    color: #fff;
    transform: scale(1.02);
}

/* --------------------------------------------------------------- */

/* FOOTER SECTION */
footer {
    background-color: #21282b;
    line-height: 5px;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-bottom: 5px;
}


.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

}

.social-media a {
    transition: .2s;
}

.social-media a:hover {
    transform: scale(1.1);
}

.txt-footer {
    padding: 1em;
    text-align: center;
    color: var(--white-theme);
}

.txt-footer a {
    color: inherit;
    text-decoration: none;
}

.txt-footer span {
    color: var(--scroll-bar);
    font-weight: bolder;
}

/* --------------------------------------------------------------- */

/* RESPONSIVE @MEDIA QUER */

@media screen and (max-width:1020px) {

    /* MENU MOBILE */
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background-color: transparent;
        border-bottom: none;
    }

    .logo {
        margin-left: -10px;
        padding-left: -10px;
        display: none;

        }


    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    section.top-site {
        margin-top: -4em;
    }

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .top-site .flex {
        flex-direction: column-reverse;
    }

    .interface {
        margin: 15px;
    }

    /* TOP SITE */
    .top-site h1 {
        font-size: 24px;
        line-height: 25px;
    }

    /* SOBRE */
    .sobre .txt-sobre h2 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .img-sobre .selfie-sobre {
        padding: 30px;
        width: 150;
        height: 350px;
    }

    .sobre .txt-sobre p {
        font-size: 15px;
    }

    /* SKILLS */
    .skills {
        margin-top: 2rem;
    }

    .skills .txt-skils {
        padding-bottom: 1em;
    }

    .ht-icon,
    .css-icon,
    .github-icon,
    .git-icon,
    .bootstrap-icon {
        padding-bottom: 1em;
    }

    /* PORTIFOLIO */
    .flex {
        align-items: center;
        justify-content: center;
    }

    .portifolio .img-port {
        width: 35vh;
    }

    .curriculo-container li {
        word-wrap: break-word;
    }

    /* CONTATO-SECTION */
    .email,
    .cel-footer {
        width: 18em;

    }


    /* BTNS */
    .float-btn-whats {
        bottom: 200px;
        left: 10px;
    }

    .btn-inicio {
        left: 10px;
    }

    .float-btn-whats,
    .btn-inicio {
        opacity: 0.6;
        width: 40px;
    }

    /* FOOTER */
    footer{
        margin-top: -1rem;
    }
    .txt-footer {
        line-height: 20px;
    }
}

/* Min-width 1020px */

@media screen and (min-width:1020px) {

    .btn-abrir-menu {
        display: none;
    }
}

/* MAX WIDTH 768PX */

@media(max-width: 768px){
    .logo {
        display: none;
    }

    .btn-abrir-menu {
        margin-left: auto;
    }

    .img-port a{
        font-size: 25px;
        text-align: center;
    }
}

/* Max-width 330px */

@media screen and (max-width:330px) {

    .logo {
        display: none;
    }

    /* CURRICULO */
    header {
        background-color: transparent;
        border-bottom: none;
    }

    /* CONTATO-SECTION */
    .email,
    .cel-footer {
        width: 14em;

    }

    .txt-footer {
        line-height: 20px;
    }
}